virtual-scroller {
  display: block;
  width: 100%;
  height: calc(100vh - 40px);
  word-break: break-word;
}

.user-bar {
  width: 100%;
  height: 100%;
  width: 175px;
  color: white;
  padding: 5px;
  background-color: rgb(56, 56, 92);

  .title {
    font-size: 0.8rem;
  }

  .user {
    font-size: 0.7rem;
  }
}
