.control-bar {
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(26, 26, 52, .4);

  .logout {
    color: white;
    background-color: rgba(255, 41, 41, 0.65);
    font-size: 1rem;
    width: 17px;
    height: 17px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #ff3a3a;
    }
  }

  .users {
    color: white;
    background-color: rgba(71, 81, 173, 0.65);
    font-size: 0.8rem;
    width: 17px;
    height: 17px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(82, 93, 194);
    }
  }

  .settings {
    color: white;
    background-color: rgba(71, 81, 173, 0.65);
    font-size: 1rem;
    width: 17px;
    height: 17px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(82, 93, 194);
    }
  }
}
