.coming-soon-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #737396;
  height: 100%;
  font-size: 18px;
  cursor: default;
}

.general {
  height: 100%;
  padding: 20px 50px;

  h1 {
    margin-bottom: 30px;
  }

  .settings {
    display: flex;
    flex-direction: column;

    .remember-credentials {
      margin-bottom: 15px;
      max-width: 300px;
      width: 100%;
    }
  }
}
